* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a3451cda;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header, footer {
  background: #27120e;
  color: rgb(235, 143, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 100%;
  position: fixed;
  left: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

#root {
  max-width: 1280px;
  margin: 12vh auto;
  text-align: center;
}

main {
  height: calc(100vh - 24vh);
  background: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #d761fbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: Georgia, 'Times New Roman', Times, serif;
}

.link_menu {
  color: white;
}