* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a3451cda;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header, footer {
  background: #27120e;
  color: rgb(235, 143, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 100%;
  position: fixed;
  left: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  background: #27120e;
}

#root {
  max-width: 1280px;
  margin: 12vh auto;
  text-align: center;
}

main {
  height: calc(100vh - 24vh);
  background: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #d761fbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: Georgia, 'Times New Roman', Times, serif;
}

.link_menu {
  color: white;
}

.cliente-item{
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 33px;
  box-shadow: 0 0 10px #f0f0f0;
}
.cliente-item>img{
  height: auto;
  width: 100%;
}
.container-cliente{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  
}
.container-cliente h1{
  font-size: 2em;
}

.imagem-previa-upload{
  width:300px;
  height:auto;
}

.estoque-item{
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px #f0f0f0;
}
.estoque-item>img{
  height: auto;
  width: 100%;
}
.container-estoque{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  
}
.container-estoque h1{
  font-size: 2em;
}

.imagem-previa-upload{
  width:300px;
  height:auto;
}

.pagamento-item{
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px #f0f0f0;
}
.pagamento-item>img{
  height: auto;
  width: 100%;
}
.container-pagamento{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  
}
.container-pagamento h1{
  font-size: 2em;
}

.imagem-previa-upload{
  width:300px;
  height:auto;
}

.promocoes-item{
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 10px #f0f0f0;
}
.promocoes-item>img{
  height: auto;
  width: 100%;
}
.container-promocoes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  
}
.container-promocoes h1{
  font-size: 2em;
}

.container-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:10px

}
.link-bonitao{
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #27120e;
  width: 150px;
  margin-bottom: 15px;
}
.link-bonitao:hover{
  background-color: #eb8f06;
}

.imagem-previa-upload{
  width:300px;
  height:auto;
}
